*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body{
    background-color: cadetblue;
    height: 100vh;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}
#open-btn{
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 88px;
    font-size: 2rem;
    background: transparent;
    color: rgb(168, 140, 25);
    border: solid 2px white;
    border-radius: 10px;
    padding: 3px;
    box-decoration-break: 0 0 3px black;
    transition: .5s;
    justify-content: center;
    align-items: center;
}
#open-btn:hover{
    background-color: white;
    color: black;
}
#modal{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    animation-name: animatemodal;
    animation-duration: .4s;
}
#close-btn{
    font-size: 3rem
    ;
}
#close-btn:hover{
    cursor: pointer;
    font-size: 3rem;
    color: blue;
}
#modal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0,.2s);

}
@keyframes animatmodal{
    from{
        top:-300px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 0;
    }
}
